<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <File name="file" fileName="log.log">
            <!--  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%msg%n"/>
        </File>
        <Console name="console" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="file" level="WARN"/>
            <AppenderRef ref="console" level="WARN"/>
        </Root>
    </Loggers>
</Configuration>